<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting=null;
pn.settings.singleProductSettings=[{"id":11930839,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445988431","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930836,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445922895","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930832,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445857359","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930834,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445890127","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930830,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445791823","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":1,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930831,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445824591","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":11930837,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"variant","n":"32653445955663","o":true,"handle":"lucia-jean-pearl-fray-25-pearl-frayv","p":"4789680504911","y":"https://cdn.shopify.com/s/files/1/0251/4921/0703/products/Group270_2x_8609509d-c7ff-4190-a1fb-5a783cf3fbb8.jpg?v=1602532008","q":false,"r":false,"s":0,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>